<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLogin ? 'SignUp': 'Login'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!emailCtrl.valid && emailCtrl.touched"
              lines="none"
            >
              <ion-label>Enter valid email</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                ngModel
                name="password"
                required
                minlength="5"
                #passwordCtrl="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
              *ngIf="!passwordCtrl.valid && passwordCtrl.touched"
              lines="none"
            >
              <ion-label>Should at least 5 characters long</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            type="button"
            color="primary"
            fill="clear"
            expand="block"
            (click)="onSwitchAuthMode()"
            >Switch to {{ isLogin ? 'SignUp': 'Login'}}</ion-button
          >
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!f.valid"
            >{{ isLogin? 'Login': 'Signup' }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--  <div class="ion-text-center">-->
    <!--    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>-->
    <!--  </div>-->
  </form>
</ion-content>
