<ion-app>
  <ion-menu side="start" menuId="m1" contentId="my-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          PairBnB
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
      <!-- Inserendo in ion-menu-toggle il menù si chiude quando viene premuto -->
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/places/tabs/discover">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Discover Places</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/bookings">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Your Booking</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <!-- Con button si simula un bottone -->
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!--  Inserendo id=contentId il menù viene aperto all'interno di router-outlet -->
  <!-- <ion-router-outlet main></ion-router-outlet> -->
  <ion-router-outlet id="my-content"></ion-router-outlet>
</ion-app>
